.form-element-wrapper {
    display: flex;
    align-items: center;
    margin: 5px 0;

    .form-element-inner-wrapper {
        flex-grow: 1;
    }

    label {
        width: 150px;
    }

    input[type="text"],
    input[type="number"] {
        height: 25px;
    }

    input[type="text"] {
        min-width: 200px;
    }

    input[type="number"] {
        min-width: 50px;
        text-align: center;
    }
}